[submodule "ttsim"]
	path = ttsim
	url = https://github.com/ttsim-dev/ttsim.git
[submodule "gettsim"]
	path = gettsim
	url = https://github.com/ttsim-dev/gettsim.git
[submodule "gettsim-personas"]
	path = gettsim-personas
	url = https://github.com/ttsim-dev/gettsim-personas.git
[submodule "soep-preparation"]
	path = soep-preparation
	url = https://github.com/OpenSourceEconomics/soep-preparation.git
